.NewNoteButton.add-button {
    height: 60px;
    width: 60px;
    color: var(--add-session-button-fg);
    background-color: var(--add-session-button-bg);
    border-radius: 50%;
    padding: 0;
    transition: color 300ms linear, background-color 100ms linear;
    border: none;
}


    .NewNoteButton.add-button:hover {
        --add-session-button-fg: #ff7581;
        --add-session-button-bg: white;
    }
