:root {
    --add-session-button-bg: black;
    --add-session-button-fg: azure;
    --session-kebab-menu: #00bcd4;
    --user-account-bg: #F9E6E6;
    /*user account section*/
    --user-account-nav-link-bg: #474BCA;
    --user-account-nav-link-text-color: #F5F5F5;
}
